body {
    background-color: aquamarine;
    text-align: right;
    font-family: sans-serif;
    padding: 20px;
    line-height: 1.6;

}
img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
h1 {
    color:antiquewhite;

}
h2 {
    color:black;
}
h3 {
    color:brown;
}
h4 {
    color:blue;
}
p {
    font-size: 18px;
    color:blanchedalmond;
}